<div class="reg-pop-up__footer btn-group_three">
    <div class="reg-pop-up__features">
        <div class="icon"><svg role="img" width="68" height="65" class="games-list__image"><use xlink:href="/images/symbol/svg/sprite.symbol.svg?v=<?php echo $this->appConfig->app->version ?>#licence"></use></svg></div>
        <p>Лицензия РФ</p>
    </div>
    <div class="reg-pop-up__features">
        <div class="icon"><svg role="img" width="68" height="65" class="games-list__image"><use xlink:href="/images/symbol/svg/sprite.symbol.svg?v=<?php echo $this->appConfig->app->version ?>#hands"></use></svg></div>
        <p>До 50 000 <br>на первый депозит</p>
    </div>
    <div class="reg-pop-up__features">
        <div class="icon"><svg role="img" width="68" height="65" class="games-list__image"><use xlink:href="/images/symbol/svg/sprite.symbol.svg?v=<?php echo $this->appConfig->app->version ?>#phonecircle"></use></svg></div>
        <p>Поддержка 24/7</p>
    </div>
</div>