<div class="pop-up reg-pop-up reg-pop-up_gray js-reg-popup js-reg-popup-fail">
    <div class="reg-pop-up-inner clear">
        <div class="alert-pop-up-inner">
            <div class="alert-pop-up-caption h2 h2_norm">
                Ошибка регистрации
            </div>
            <div class="reg-pop-up_msg-content">
                <img src="/images/page-403.png" alt="">
                <p>Что-то пошло не так. Проверьте соединение с интернетом или свяжитесь с нашей <a href="mailto:support@bingoboom.ru">службой поддержки.</a></p>
                <a href="javascript:void(0);" class="button block-btn js-reg-popup-close">Завершить</a>
            </div>
        </div>
        <?php $this->partial('partial/registerpopups/_footer', array());?>
    </div>
    <a href="javascript:void(0);" class="close_button js-reg-popup-close"></a>
</div>