<div class="pop-up reg-pop-up reg-pop-up_gray js-reg-popup js-reg-popup-files">
    <div class="reg-pop-up-inner clear">
        <div class="alert-pop-up-inner">
            <div class="alert-pop-up-caption h2 h2_norm">
                Регистрация
            </div>
            <form action="/user/register/files" method="POST" enctype="multipart/form-data" class="reg-pop-up__form-full">
                <p class="reg-pop-up-step__title">Загрузка документов</p>
                <div class="drop-file has-advanced-upload">
                    <input class="drop-file__input" type="file" name="files[]" id="file-upload" data-multiple-caption="files selected" multiple />
                    <div class="drop-file__text">
                        <div class="drop-file__text-icon">
                            <svg role="img" width="68" height="65" class="games-list__image"><use xlink:href="/images/symbol/svg/sprite.symbol.svg?v=<?php echo $this->appConfig->app->version ?>#note"></use></svg>
                        </div>
                        <span class="drop-file__tooltip-text">
                            Для загрузки перетащите в поле фото разворота паспорта и фото страницы с регистрацией
                        </span>
                        <span class="drop-file__text-divider">или</span>
                        <span class="dz-btn-mask ">Загрузить с компьютера</span>
                    </div>
                </div>
                <span class="input-label input-label_error js-reg-validation-error"></span>
                <div class="reg-pop-up__content">
                    <br>
                    <button type="submit" class="button block-btn">Зарегистрироваться</button>
                    <br>
                    <br>
                    <br>
                </div>
            </form>
        </div>
        <?php $this->partial('partial/registerpopups/_footer', array());?>
    </div>
    <a href="javascript:void(0);" class="close_button js-reg-popup-close"></a>
</div>