<div class="pop-up reg-pop-up reg-pop-up_gray js-reg-popup js-reg-popup-full">
    <div class="reg-pop-up-inner clear">
        <div class="alert-pop-up-inner">
            <div class="alert-pop-up-caption h2 h2_norm">
                Регистрация
            </div>
            <form action="/user/register/full" method="POST" class="reg-pop-up__form-full">
                <div class="reg-pop-up__content">
                    <p class="reg-pop-up-step__title">Личные данные</p>
                    <div class="input_bar input_bar_low">
                        <div class="form-group js-reg-validation-field">
                            <div class="input-b">
                                <input type="text" id="reg_surname_input" class="input input_gray" name="client[last_name]">
                                <label class="input-label input-label_gray" for="reg_surname_input" data-content="Фамилия*">
                                    <span class="input-label-content ">Фамилия*</span>
                                </label>
                            </div>
                            <span class="input-label input-label_error js-reg-validation-error"></span>
                        </div>
                        <div class="form-group js-reg-validation-field">
                            <div class="input-b">
                                <input type="text" id="reg_name_input" class="input input_gray " name="client[first_name]">
                                <label class="input-label input-label_gray" for="reg_name_input" data-content="Имя*">
                                    <span class="input-label-content ">Имя*</span>
                                </label>
                            </div>
                            <span class="input-label input-label_error js-reg-validation-error"></span>
                        </div>
                        <div class="form-group js-reg-validation-field">
                            <div class="input-b">
                                <input type="text" id="reg_secondname_input" class="input input_gray " name="client[patronymic]">
                                <label class="input-label input-label_gray" for="reg_secondname_input" data-content="Отчество">
                                    <span class="input-label-content ">Отчество*</span>
                                </label>
                            </div>
                            <span class="input-label input-label_error js-reg-validation-error"></span>
                        </div>
                        <div class="form-group js-reg-validation-field">
                            <div class="input-b">
                                <input type="text" id="reg_birthday_input" class="input input_gray  datepicker" name="client[birth_date]">
                                <label class="input-label input-label_date input-label_gray" for="reg_birthday_input" data-content="Дата рождения">
                                    <span class="input-label-content ">Дата рождения*</span>
                                </label>
                            </div>
                            <span class="input-label input-label_error js-reg-validation-error"></span>
                        </div>
                        <div class="form-group js-reg-validation-field">
                            <div class="input-b select_gray">                                    
                                <select class="reg-pop-up__select select_gray js-reg-doctype-input" data-placeholder="Тип документа*" name="document[document_type]">
                                    <option value="1">Паспорт РФ</option>
                                    <option value="2">Паспорт иностранного гражданина</option>
                                    <option value="3">Иное</option>
                                </select>
                            </div>
                            <span class="input-label input-label_error js-reg-validation-error"></span>
                        </div>
                        <div class="form-group js-reg-validation-field">
                            <div class="input-b">
                                <input type="text" id="reg_docserial_input" class="input input_gray " name="document[passport_series]">
                                <label class="input-label input-label_gray" for="reg_docserial_input" data-content="Серия документа*">
                                    <span class="input-label-content js-reg-docseries-label">Серия документа*</span>
                                </label>
                            </div>
                            <span class="input-label input-label_error js-reg-validation-error"></span>
                        </div>
                        <div class="form-group js-reg-validation-field">
                            <div class="input-b">
                                <input type="text" id="reg_docnum_input" class="input input_gray " name="document[passport_number]">
                                <label class="input-label input-label_gray" for="reg_docnum_input" data-content="Номер документа*">
                                    <span class="input-label-content js-reg-docnumber-label">Номер документа*</span>
                                </label>
                            </div>
                            <span class="input-label input-label_error js-reg-validation-error"></span>
                        </div>
                        <br>
                        <button type="submit" class="button block-btn">Далее</button>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </form>
        </div>
        <?php $this->partial('partial/registerpopups/_footer', array());?>
    </div>
    <a href="javascript:void(0);" class="close_button js-reg-popup-close"></a>
</div>