
<?php $this->partial('partial/registerpopups/quick', array());?>
<?php $this->partial('partial/registerpopups/sms', array());?>
<?php $this->partial('partial/registerpopups/passport', array());?>
<?php $this->partial('partial/registerpopups/full', array());?>
<?php $this->partial('partial/registerpopups/files', array());?>
<?php $this->partial('partial/registerpopups/incompleteConfirm', array());?>
<?php $this->partial('partial/registerpopups/incomplete', array());?>
<?php $this->partial('partial/registerpopups/success', array());?>
<?php $this->partial('partial/registerpopups/fail', array());?>

<script src="/site_js/dropzone.js?v=<?php echo $this->appConfig->app->version ?>"></script>
<script src="/site_js/register/registerValidator.js?v=<?php echo $this->appConfig->app->version ?>"></script>
<script src="/site_js/register/registerPopup.js?v=<?php echo $this->appConfig->app->version ?>"></script>
<script src="/site_js/register/registerForm.js?v=<?php echo $this->appConfig->app->version ?>"></script>
<script src="/site_js/register/quickRegisterForm.js?v=<?php echo $this->appConfig->app->version ?>"></script>
<script src="/site_js/register/fullRegisterForm.js?v=<?php echo $this->appConfig->app->version ?>"></script>
<script src="/site_js/register/smsRegisterForm.js?v=<?php echo $this->appConfig->app->version ?>"></script>
<script src="/site_js/register/filesRegisterForm.js?v=<?php echo $this->appConfig->app->version ?>"></script>
<script src="/site_js/register/passportRegisterForm.js?v=<?php echo $this->appConfig->app->version ?>"></script>
<script src="/site_js/register/incompleteConfirmPopup.js?v=<?php echo $this->appConfig->app->version ?>"></script>
<script src="/site_js/register/register.js?v=<?php echo $this->appConfig->app->version ?>"></script>

