<div class="pop-up reg-pop-up reg-pop-up_gray js-reg-popup js-reg-popup-incomplete" >
    <div class="reg-pop-up-inner clear">
        <div class="alert-pop-up-inner">
            <div class="alert-pop-up-caption h2 h2_norm">
                Регистрация
            </div>
            <div class="reg-pop-up_msg-content">
                <p>Вам будет доступен не полный функционал сайта. Ожидайте, с вами свяжется специалист технической поддержки для подтверждения данных.</p>
                <a href="javascript:void(0);" class="button block-btn js-reg-popup-close">Завершить</a>
            </div>
        </div>
        <?php $this->partial('partial/registerpopups/_footer', array());?>
    </div>
    <a href="javascript:void(0);" class="close_button js-reg-popup-close"></a>
</div>