<div class="pop-up reg-pop-up reg-pop-up_gray js-reg-popup js-reg-popup-incomplete-confirm">
    <div class="reg-pop-up-inner clear">
        <div class="alert-pop-up-inner">
            <div class="alert-pop-up-caption h2 h2_norm">
                Регистрация
            </div>
            <div class="reg-pop-up_msg-content">
                <p>При завершении регистрации на данном этапе вам будет доступен неполный функционал. Для доступа к полному функционалу нажмите кнопку «Далее»</p>
                <a href="javascript:void(0);" class="button block-btn js-reg-popup-close">Завершить</a>
                <a href="javascript:void(0);" class="button green_button block-btn js-reg-incomplete-confirm-success">Далее</a>
            </div>
        </div>
        <?php $this->partial('partial/registerpopups/_footer', array());?>
    </div>
    <a href="javascript:void(0);" class="close_button js-reg-popup-close"></a>
</div>