<div class="pop-up reg-pop-up reg-pop-up_gray js-reg-popup js-reg-popup-passport">
    <div class="reg-pop-up-inner clear">
        <div class="alert-pop-up-inner">
            <div class="alert-pop-up-caption h2 h2_norm">
                Регистрация
            </div>
            <div class="reg-pop-up_msg-content" style="max-width: 290px;">
                <p class="reg-pop-up_msg__title">Подтверждение QIWI кошелька</p>
                <form action="/user/register/passport" method="POST">
                    <div class="form-group js-reg-validation-field">
                        <div class="input-b">
                            <input id="reg_qiwidoc_number" type="text" class="input input_gray" autocomplete="off"  name="passport_number">
                            <label class="input-label input-label_gray" for="reg_qiwidoc_number" data-content="Последние 4 цифры номера паспорта*">
                                <span class="input-label-content">Последние 4 цифры номера паспорта*</span>
                            </label>
                        </div>
                        <span class="input-label input-label_error js-reg-validation-error"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="button block-btn">Зарегистрироваться</button>
                    </div>
                    <a href="javascript:void(0)" class="context-link js-reg-passport-decline">Пропустить</a>
                </form>
            </div>
        </div>
        <?php $this->partial('partial/registerpopups/_footer', array());?>
    </div>
    <a href="javascript:void(0);" class="close_button js-reg-popup-close"></a>
</div>