<?php
if (!$this->mobiledetect->isMyIos()) {
    $preventAutoFill = 'readonly="" onfocus="this.removeAttribute(\'readonly\');"';
}
?>
<div class="pop-up reg-pop-up reg-pop-up_gray js-reg-popup js-reg-popup-quick">
	<div class="reg-pop-up-inner clear">
		<div class="alert-pop-up-inner">
            <div class="alert-pop-up-caption h2 h2_norm">
                Регистрация
            </div>
            <form id="cupis_registration" action="/user/register/quick" method="POST" class="reg-pop-up__form reg-pop-up__form_compact">
            	<div class="reg-pop-up__content">
                    <div class="form-group js-reg-validation-field">
                        <div class="input-b">
                            <input type="text" id="reg_login_input" class="input input_gray js-mask-digits" autocomplete="off" name="client[phone]" <?=$preventAutoFill?>>
                            <label class="input-label input-label_gray" for="reg_login_input" data-content="Телефон* 7XXXXXXXXXX">
                                <span class="input-label-content">Телефон* 7XXXXXXXXXX</span>
                            </label>
                        </div>
                        <span class="input-label input-label_error js-reg-validation-error"></span>
                    </div>
                    <div class="form-group js-reg-validation-field">
                        <div class="input-b">
                            <input id="reg_pass_input" type="password" name="password" class="input input_gray" maxlength="20" <?=$preventAutoFill?>>
                            <label class="input-label input-label_gray" for="reg_pass_input" data-content="Пароль (мин 8 символов) *">
                                <span class="input-label-content">Пароль (мин 8 символов) *</span>
                            </label>
                        </div>
                        <span class="input-label input-label_error js-reg-validation-error"></span>
                    </div>
                    <div class="form-group js-reg-validation-field">
                        <div class="input-b">
                            <input id="reg_email_input" type="text" autocomplete="off" name="client[email]" class="input input_gray" <?=$preventAutoFill?>">
                            <label class="input-label input-label_gray" for="reg_email_input" data-content="Email">
                                <span class="input-label-content">Email</span>
                            </label>
                        </div>
                        <span class="input-label input-label_error js-reg-validation-error"></span>
                    </div>
                    <div class="form-group js-reg-validation-field">
                        <div class="input-b">
                            <input id="reg_promo_input" type="text" autocomplete="off" name="promo" class="input input_gray">
                            <label class="input-label input-label_gray" for="reg_promo_input" data-content="Промо-Код">
                                <span class="input-label-content">Промо-Код</span>
                            </label>
                        </div>
                    </div>
                    <div class="input_bar checkbox-container checkbox-container_gray checkbox-container_centered js-reg-validation-field">
                        <input autocomplete="off" type="checkbox" name="confirmInfo" id="confirmInfo" class="">
                        <div class="checkbox_label">
                            <label for="confirmInfo" class="">Я согласен с <a target="_blank" href="/pages/agreement">правилами</a></label>
                        </div>
                        <div class="error_label"></div> <!-- js-reg-validation-error -->
                    </div>
                    <div class="input_bar checkbox-container checkbox-container_gray checkbox-container_centered js-reg-validation-field">
                        <input autocomplete="off" type="checkbox" name="confirmAge" id="confirmAge" class="">
                        <div class="checkbox_label">
                            <label for="confirmAge">Мне больше 18 лет</label>
                        </div>
                        <div class="error_label"></div>
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="button block-btn"><span class="icon reg_icon before_icon"></span>Далее</button>
                    <p class="reg-pop-up__curr-user">Уже есть аккаунт? <a href="javascript:void(0)" class="showLogin">Войти</a></p>
            	</div>
                <!-- reg-step start -->
            </form>
        </div>
        <?php $this->partial('partial/registerpopups/_footer', array());?>
	</div>
	<a href="javascript:void(0);" class="close_button js-reg-popup-close"></a>
</div>