<div class="pop-up reg-pop-up reg-pop-up_gray js-reg-popup js-reg-popup-sms">
    <div class="reg-pop-up-inner clear">
        <div class="alert-pop-up-inner">
            <div class="alert-pop-up-caption h2 h2_norm">
                Регистрация
            </div>
            <div class="reg-pop-up_msg-content">
                <p class="reg-pop-up_msg__title">На ваш номер отправлено СМС с кодовым сообщением</p>
                <form action="/user/register/authsms" method="POST">
                    <div class="form-group js-reg-validation-field">
                        <div class="input-b">
                            <input type="text" id="reg_sms_input" class="input input_gray" autocomplete="off" name="sms_code" data-validate="required">
                            <label class="input-label input-label_gray" for="reg_sms_input" data-content="Код из СМС*">
                                <span class="input-label-content">Код из СМС*</span>
                            </label>
                        </div>
                        <span class="input-label input-label_error js-reg-validation-error"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="button block-btn">Далее</button>
                    </div>
                    <a id="reg-sms-repeat" href="javascript:void(0);" class="context-link js-reg-sms-repeat-link" style="display:none;">Отправить СМС с кодом еще раз</a>
                    <div style="display: none;" class="js-reg-sms-repeat-counter">через <span class="js-reg-sms-repeat-counter-count"></span> секунд</div>
                </form>
            </div>
        </div>
        <?php $this->partial('partial/registerpopups/_footer', array());?>
    </div>
    <a href="javascript:void(0);" class="close_button js-reg-popup-close"></a>
</div>