<div class="pop-up reg-pop-up reg-pop-up_gray js-reg-popup js-reg-popup-success">
    <div class="reg-pop-up-inner clear">
        <div class="alert-pop-up-inner">
            <div class="alert-pop-up-caption h2 h2_norm">
                Успешная регистрация
            </div>
            <div class="reg-pop-up_msg-content">
                <img src="/images/popup_reg_success.png" alt="">
                <p>Поздравляем с успешной регистрацией на сайте Bingo Boom. Для входа в систему используйте раннее введенные вами номер телефона и пароль.</p>
                <a href="javascript:void(0);" class="button block-btn green_button js-reg-popup-close">Завершить</a>
            </div>
        </div>
        <?php $this->partial('partial/registerpopups/_footer', array());?>
    </div>
    <a href="javascript:void(0);" class="close_button js-reg-popup-close"></a>
</div>